@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome To EtyRead</h1>
        <a asp-controller="Books" asp-action="Index">Go to Books</a>
    </div>
